@use "../../styles/variables" as var;
@use "../../styles/mixins.scss" as mx;

.hero {
//HEADER CONTROL THE HEIGHT
  display: flex;
  margin-top: 180px;
  padding: 80px 84px;
  display: flex;
  flex-direction: column;
  position: relative;
  @include mx.media-q("md") {
          padding: 100px;
  }


}