@use "../../styles/variables" as var;
@use "../../styles/mixins.scss" as mx;

.hero {
//HEADER CONTROL THE HEIGHT
  display: flex;
  margin: 100px;
  display: flex;
  flex-direction: column;
  position: relative;


}