@use "../../../../styles/variables" as var;
@use "../../../../styles/mixins" as mx;


.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    gap: 10px;
    @include mx.apply-font-styles(var.$text-16-font);

    @include mx.media-q("md") {
        gap: 40px;   
    }
}