@use '../../../styles/variables' as var;
@use '../../../styles/mixins' as mx;

.footer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  gap: 28px;
  padding: 24px 64px 24px 64px;
  height: fit-content;
  background: var.$primary-fon;
  width: 100%;
  @include mx.apply-font-styles(var.$text-16-font);
  
  @include mx.media-q("md") {
    padding: 64px 64px 24px 64px;
    align-items: center;
    justify-content: center;
    @include mx.apply-font-styles(var.$text-16-font);
    flex-direction: row;
    gap: 64px;
  }
  @include mx.media-q("xl") {
    @include mx.apply-font-styles(var.$h3-font);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 120px;
  }
  
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
    
  
}
.adressTel {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  .social {
    display: flex;
    flex-direction: row;
  }
}


.logoFooter{
padding-left: 50px;
@include mx.media-q("md") {
  padding-left: 0px;
}
}
.logo {
  position: relative;
  display: block;

  .img {
    position: relative;
    z-index: 9;
  }
}



.schedule {
  @include mx.apply-font-styles(var.$text-16-font);
  display: flex;
  flex-direction: column;
  gap: 7px;
  @include mx.media-q("xl") {
    gap: 7px;
    @include mx.apply-font-styles(var.$h3-font);
  }
}