@use "../../../styles/variables" as var;


  .logo {
    display: block;
    width: 450px;
    height: 250px;
    fill: var.$secondary-white;
  }


// .footer {
//   .logo {
//     display: block;
//     width: 120px;
//     height: 120px;
//     fill: var.$secondary-white;
//   }
// }

// @media (max-width: 696px) {
//   .footer {
//     .logo {
//       width: 100px;
//       height: 100px;
//     }
//   }
// }