@use "../../../styles/variables" as var;

  .logo {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    .img {
      position: relative;
      z-index: 9;
      object-fit: contain; // Ensure the image fits within the container

    }
  }

